* {
  border: 1px solid white;
}

body{
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  height: 100vh;
  widgth: 100vw;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
}

.results,
.score {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.buttons {
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 25%;
}

#rock,
#paper,
#scissors {
  font-size: 48px;
  border-radius: 6px;
  width: 300px;
}

.new-game {
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin-top: auto;*/
}

#newgame{
  font-size: 32px;
}
